<!DOCTYPE html>








<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>
    <meta http-equiv="content-script-type" content="text/javascript"/>
    <meta name="viewport"
          content="initial-scale=1.0,width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0"/>
    <meta name="robots" content="index,follow"/>
    <meta name="revisit_after" content="7 days"/>
    <meta name="keywords" content="シルバニアファミリー,シルバニア,Sylvanian Families,レストラン,森のキッチン,おもちゃ,バースデープラン">
    <meta name="description" content="シルバニア森のキッチンの公式サイトです。シルバニアファミリーのレストラン　シルバニア森のキッチンは、おいしいごはんに、たのしいショー、シルバニアファミリーのグッズが買える楽しいレストランで"/>
    <meta property="og:title" content="シルバニア森のキッチン公式サイト"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://sylvanian-families.jp/world_view/"/>
    <meta property="og:image" content="/includes_gl/img/common/img_fb.jpg"/>
    <meta property="og:site_name" content="シルバニアファミリー公式サイト"/>
    <meta property="og:locale" content="ja_JP"/>
    <meta property="fb:app_id" content="580609391991136"/>
    <!-- InstanceBeginEditable name="meta" -->
    <!-- InstanceEndEditable -->
    <title>シルバニア森のキッチン ｜ Sylvanian Families</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.ui.min.js"></script>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if gt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="wrap_container only_pc" id="acv-content">

    







    
    <div class="logo-top-wrapper">
        <div class="container container_pc">
            <div class="logo-top col-xs-10 col-xs-offset-1">
                <img src="../assets/images/maintop_kitchen.png" alt="" class="img-responsive lazy">
            </div>
        </div>
    </div>
    <div class="pc-top-menu-wrapper">
        <div class="top-menu-container">
            <div class="container container_pc">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-xs-4 border-right-img nav_pc">
                            <a href="http://sylvanian-families.jp/shop/kitchen/yokohama_wp/"> <img
                                src="../assets/images/menu_1.png"
                                alt=""
                                class="opacity_img img-responsive lazy col-xs-12 delpadding "></a>
                        </div>
                        <div class="col-lg-4 col-xs-4 border-right-img nav_pc">
                            <a href="http://sylvanian-families.jp/shop/kitchen/laketown/">
                                <img src="../assets/images/menu_2.png" alt=""
                                     class="opacity_img img-responsive lazy col-xs-12 delpadding "></a>
                        </div>
                        <div class="col-lg-4 col-xs-4 nav_pc">
                            <a href="http://sylvanian-families.jp/shop/kitchen/llp_tokyobay/"> <img
                                src="../assets/images/menu_3.png"
                                alt=""
                                class="opacity_img img-responsive lazy col-xs-12 delpadding "></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    


    
    

    








<div class="footer">
    <div class="text-center logo">
        <a href="http://sylvanian-families.jp/?page=home" target="_blank">
            <img src="../assets/images/logo.png" alt="" class="img-responsive auto lazy">
        </a>
        <div class="footer-socials">
            <ul class="social-icon">
                <li>
                    <a href="https://www.facebook.com/SylvanianFamilies.jp" target="_blank">
                        <img src="../assets/images/footer_icon_1.png" alt="" class="lazy opacity_img">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/SF_PHOTO2013" target="_blank">
                        <img src="../assets/images/footer_icon_2.png" alt="" class="lazy opacity_img">
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/sylvanianfamilies_official/" target="_blank">
                        <img src="../assets/images/footer_icon_3.png" alt="" class="lazy opacity_img">
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="title-footer">
        <div class="text-center footer-policy">
            <strong>| <a href="http://sylvanian-families.jp/support/policy.php" style="font-size: 12px">プライバシーポリシー</a> |</strong>
        </div>
        <div class="text-center project-name"><strong>©EPOCH</strong></div>
    </div>
</div>
<div class="totop"></div>


    <script type="text/javascript" src="../assets/js/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/script_new.js"></script>
</div>
</body>
</html>