







    
    <div class="logo-top-wrapper">
        <div class="container container_pc">
            <div class="logo-top col-xs-10 col-xs-offset-1">
                <img src="../assets/images/maintop_kitchen.png" alt="" class="img-responsive lazy">
            </div>
        </div>
    </div>
    <div class="pc-top-menu-wrapper">
        <div class="top-menu-container">
            <div class="container container_pc">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-xs-4 border-right-img nav_pc">
                            <a href="http://sylvanian-families.jp/shop/kitchen/yokohama_wp/"> <img
                                src="../assets/images/menu_1.png"
                                alt=""
                                class="opacity_img img-responsive lazy col-xs-12 delpadding "></a>
                        </div>
                        <div class="col-lg-4 col-xs-4 border-right-img nav_pc">
                            <a href="http://sylvanian-families.jp/shop/kitchen/laketown/">
                                <img src="../assets/images/menu_2.png" alt=""
                                     class="opacity_img img-responsive lazy col-xs-12 delpadding "></a>
                        </div>
                        <div class="col-lg-4 col-xs-4 nav_pc">
                            <a href="http://sylvanian-families.jp/shop/kitchen/llp_tokyobay/"> <img
                                src="../assets/images/menu_3.png"
                                alt=""
                                class="opacity_img img-responsive lazy col-xs-12 delpadding "></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    